@model IEnumerable<StockManagementApp.Models.OrderItem>

@{
    ViewData["Title"] = "Order Items";
}

<h1>Order Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrdered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrdered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
