@model IEnumerable<StockManagementApp.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Location Address
            </th>
            <th>
                Supplier Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedTimeOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTimeOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
